.Body {
    margin: 20px 0;
    width: 40%;
    min-width: 400px;
    height: 500px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    animation: fadeIn 1s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 10px;
}